@font-face {
  font-family: 'xkcd';
  src: url('xkcd-script.woff') format('woff');
}
html {
  width: 100vw;
  height: 100vh;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: hsla(277, 100%, 18%, 1);
  background-color: hsla(230, 100%, 90%, 1);
  font-family: xkcd;
}
div {
  box-sizing: border-box;
  position: relative;
}
#ui {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
}
#ui .h1,
#ui .h2,
#ui .h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}
#ui .h2 {
  font-size: 24px;
}
#ui .h3 {
  font-size: 18px;
}
#ui .spacer {
  min-height: 10px;
  width: 100%;
}
#ui .box {
  width: 100%;
  background-color: hsla(230, 100%, 95%, 1);
}
#ui .box.n1 {
  height: 400px;
  --n1-x: 0px;
  --n1-y: 0px;
  --n1-w: 60px;
  --n1-h: 60px;
  --n2-x: 60px;
  --n2-y: 60px;
  --n2-w: 120px;
  --n2-h: 120px;
}
#ui .box.n1 .container {
  position: absolute;
  border: 4px solid green;
}
#ui .box.n1 .container.n1 {
  left: var(--n1-x);
  top: var(--n1-y);
  width: var(--n1-w);
  height: var(--n1-h);
}
#ui .box.n1 .container.n2 {
  left: var(--n2-x);
  top: var(--n2-y);
  width: var(--n2-w);
  height: var(--n2-h);
}
#ui .box.n1 .container.free {
  cursor: grab;
  border-color: red;
}
#ui .box.n1 .container.resizeX {
  cursor: ew-resize;
}
#ui .box.n1 .container.resizeY {
  cursor: ns-resize;
}
#ui .box.n1 .container.drag {
  cursor: grabbing;
}
#ui .box.n1 .projectile {
  position: absolute;
  background-color: green;
  cursor: pointer;
  left: calc(var(--n1-x) + 10px);
  top: calc(var(--n1-y) + 10px);
  width: calc(var(--n1-w) - 20px);
  height: calc(var(--n1-h) - 20px);
}
#ui .box.n1 .projectile.tested {
  left: calc(var(--n2-x) + 10px);
  top: calc(var(--n2-y) + 10px);
  width: calc(var(--n2-w) - 20px);
  height: calc(var(--n2-h) - 20px);
}
#ui .box.n2 {
  padding: 10px;
  line-height: 0;
}
#ui .box.n2 .projectile {
  display: inline-block;
  background-color: green;
  height: 20px;
  cursor: pointer;
}
#ui .box.n2 .projectile.n1 {
  width: 40%;
}
#ui .box.n2 .projectile.n1.tested {
  width: 25%;
}
#ui .box.n2 .projectile.n2 {
  width: 20%;
  background-color: pink;
}
#ui .box.n2 .projectile.n2.tested {
  width: 50%;
}
#ui .box.n2 .projectile.n3 {
  width: 10%;
}
#ui .box.n2 .projectile.n3.tested {
  width: 20%;
}
#ui .box.n2 .projectile.n4 {
  background-color: pink;
  width: 80%;
}
#ui .box.n2 .projectile.n4.tested {
  width: 60%;
}
#ui .box.n2 .projectile.n5 {
  width: 15%;
}
#ui .box.n2 .projectile.n5.tested {
  width: 49%;
}
#ui .box.n2 .projectile.n6 {
  background-color: pink;
  width: 70%;
}
#ui .box.n2 .projectile.n6.tested {
  width: 2%;
}
