/* base difinition (must have) */
.w3ui {
  --col-A1: var(--col-A), 10%;
  --col-A2: var(--col-A), 20%;
  --col-A3: var(--col-A), 30%;
  --col-A4: var(--col-A), 40%;
  --col-A5: var(--col-A), 50%;
  --col-A6: var(--col-A), 60%;
  --col-A7: var(--col-A), 70%;
  --col-A8: var(--col-A), 80%;
  --col-A9: var(--col-A), 90%;
  --col-B1: var(--col-B), 10%;
  --col-B2: var(--col-B), 20%;
  --col-B3: var(--col-B), 30%;
  --col-B4: var(--col-B), 40%;
  --col-B5: var(--col-B), 50%;
  --col-B6: var(--col-B), 60%;
  --col-B7: var(--col-B), 70%;
  --col-B8: var(--col-B), 80%;
  --col-B9: var(--col-B), 90%;
  --col-C1: var(--col-C), 10%;
  --col-C2: var(--col-C), 20%;
  --col-C3: var(--col-C), 30%;
  --col-C4: var(--col-C), 40%;
  --col-C5: var(--col-C), 50%;
  --col-C6: var(--col-C), 60%;
  --col-C7: var(--col-C), 70%;
  --col-C8: var(--col-C), 80%;
  --col-C9: var(--col-C), 90%;
  --col-D1: var(--col-D), 10%;
  --col-D2: var(--col-D), 20%;
  --col-D3: var(--col-D), 30%;
  --col-D4: var(--col-D), 40%;
  --col-D5: var(--col-D), 50%;
  --col-D6: var(--col-D), 60%;
  --col-D7: var(--col-D), 70%;
  --col-D8: var(--col-D), 80%;
  --col-D9: var(--col-D), 90%;
  --col-E1: var(--col-E), 10%;
  --col-E2: var(--col-E), 20%;
  --col-E3: var(--col-E), 30%;
  --col-E4: var(--col-E), 40%;
  --col-E5: var(--col-E), 50%;
  --col-E6: var(--col-E), 60%;
  --col-E7: var(--col-E), 70%;
  --col-E8: var(--col-E), 80%;
  --col-E9: var(--col-E), 90%;
  --col-F1: var(--col-F), 10%;
  --col-F2: var(--col-F), 20%;
  --col-F3: var(--col-F), 30%;
  --col-F4: var(--col-F), 40%;
  --col-F5: var(--col-F), 50%;
  --col-F6: var(--col-F), 60%;
  --col-F7: var(--col-F), 70%;
  --col-F8: var(--col-F), 80%;
  --col-F9: var(--col-F), 90%;
  --col-a1: hsl(var(--col-A1));
  --col-a2: hsl(var(--col-A2));
  --col-a3: hsl(var(--col-A3));
  --col-a4: hsl(var(--col-A4));
  --col-a5: hsl(var(--col-A5));
  --col-a6: hsl(var(--col-A6));
  --col-a7: hsl(var(--col-A7));
  --col-a8: hsl(var(--col-A8));
  --col-a9: hsl(var(--col-A9));
  --col-b1: hsl(var(--col-B1));
  --col-b2: hsl(var(--col-B2));
  --col-b3: hsl(var(--col-B3));
  --col-b4: hsl(var(--col-B4));
  --col-b5: hsl(var(--col-B5));
  --col-b6: hsl(var(--col-B6));
  --col-b7: hsl(var(--col-B7));
  --col-b8: hsl(var(--col-B8));
  --col-b9: hsl(var(--col-B9));
  --col-c1: hsl(var(--col-C1));
  --col-c2: hsl(var(--col-C2));
  --col-c3: hsl(var(--col-C3));
  --col-c4: hsl(var(--col-C4));
  --col-c5: hsl(var(--col-C5));
  --col-c6: hsl(var(--col-C6));
  --col-c7: hsl(var(--col-C7));
  --col-c8: hsl(var(--col-C8));
  --col-c9: hsl(var(--col-C9));
  --col-d1: hsl(var(--col-D1));
  --col-d2: hsl(var(--col-D2));
  --col-d3: hsl(var(--col-D3));
  --col-d4: hsl(var(--col-D4));
  --col-d5: hsl(var(--col-D5));
  --col-d6: hsl(var(--col-D6));
  --col-d7: hsl(var(--col-D7));
  --col-d8: hsl(var(--col-D8));
  --col-d9: hsl(var(--col-D9));
  --col-e1: hsl(var(--col-E1));
  --col-e2: hsl(var(--col-E2));
  --col-e3: hsl(var(--col-E3));
  --col-e4: hsl(var(--col-E4));
  --col-e5: hsl(var(--col-E5));
  --col-e6: hsl(var(--col-E6));
  --col-e7: hsl(var(--col-E7));
  --col-e8: hsl(var(--col-E8));
  --col-e9: hsl(var(--col-E9));
  --col-f1: hsl(var(--col-F1));
  --col-f2: hsl(var(--col-F2));
  --col-f3: hsl(var(--col-F3));
  --col-f4: hsl(var(--col-F4));
  --col-f5: hsl(var(--col-F5));
  --col-f6: hsl(var(--col-F6));
  --col-f7: hsl(var(--col-F7));
  --col-f8: hsl(var(--col-F8));
  --col-f9: hsl(var(--col-F9));
}
.w3ui div {
  display: block;
  overflow: hidden;
  border: 0;
  padding: 0;
  margin: 0 !important;
  box-sizing: content-box !important;
}
.w3ui svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}
.w3ui.accordion {
  --title-size: 0;
  --title-font: sans-serif;
  --title-font-size: 0;
  --panel-size: 0;
  --panel-font: sans-serif;
  --content-size: 10%;
}
.w3ui.accordion.widget {
  width: 100%;
  height: 100%;
}
.w3ui.accordion.widget .box {
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  opacity: 0;
}
.w3ui.accordion.widget .box.active,
.w3ui.accordion.widget .box.L0 {
  opacity: 1;
}
.w3ui.accordion.widget .box .panel {
  display: block;
  width: 100%;
  height: auto !important;
}
.w3ui.accordion.widget .box .panel > .titleSizer {
  width: 100%;
  height: var(--title-size);
}
.w3ui.accordion.widget .box .panel > .titleSizer.hidden {
  height: 0;
  display: none;
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title.hidden {
  padding: 0;
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title > .box {
  opacity: 1;
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title > .box.N0 {
  display: none;
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title > .box.N1 {
  font-family: var(--title-font);
  font-size: var(--title-font-size);
}
.w3ui.accordion.widget .box .panel > .titleSizer > .title > .box.N2 {
  display: none;
}
.w3ui.accordion.widget .box .panel > .contentSizer {
  width: 100%;
  height: 0;
}
.w3ui.accordion.widget .box .panel > .contentSizer.active {
  height: var(--panel-size);
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content {
  width: 100%;
  height: 100%;
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box {
  display: none;
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.A {
  font-family: var(--panel-font);
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.A.FIRST,
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.A.LAST {
  height: var(--content-size);
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.A.SINGLE {
  height: 100%;
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.B {
  display: block;
  height: calc(100% - 2 * var(--content-size));
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.B.FIRST,
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.B.LAST {
  height: calc(100% - var(--content-size));
}
.w3ui.accordion.widget .box .panel > .contentSizer > .content > .box.B.SINGLE {
  height: 100%;
}
.w3ui.accordion.widget .box .panel.hidden {
  padding: 0;
}
.w3ui.accordion.widget .box .panel.hidden.FIRST {
  padding: 0;
}
.w3ui.accordion.widget .box .panel.hidden.FIRST.LAST {
  padding: 0;
}
.w3ui.accordion.widget .box .panel.hidden.LAST {
  padding: 0;
}
.w3ui.accordion.widget .box .panel.deepDive.active {
  padding: 0;
}
.w3ui.accordion.widget .box .panel.deepDive.active > .contentSizer.active.hidden {
  height: 100%;
}
.w3ui.accordion.widget .box .panel.deepDive.active > .contentSizer.active.hidden > .content.active.hidden {
  padding: 0;
  border-width: 0;
}
.w3ui.accordion.widget .box .panel.deepDive.active > .contentSizer.active.hidden > .content.active.hidden > .box.deepDive.A {
  display: none;
  height: 0;
  padding: 0;
}
.w3ui.accordion.widget .box .panel.deepDive.active > .contentSizer.active.hidden > .content.active.hidden > .box.deepDive.B {
  height: 100%;
  padding: 0;
}
.w3ui.slider {
  position: relative;
}
.w3ui.slider.horizontal {
  height: 1em;
}
.w3ui.slider.vertical {
  width: 1em;
}
.w3ui.slider .handle {
  position: absolute;
  z-index: 2;
  width: 0;
  height: 0;
  outline: none;
  cursor: default;
  touch-action: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w3ui.slider.horizontal .range {
  height: 100%;
}
.w3ui.slider.vertical .range {
  width: 100%;
}
.w3ui.slider .range {
  position: absolute;
  z-index: 1;
  border-width: 0;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* default theme (possible mutations, "better reduce" principle) */
.w3ui.DEFAULT {
  --col-A: 55, 95%;
  --col-B: 40, 95%;
  --col-C: 325, 55%;
  --col-D: 300, 50%;
  --col-E: 270, 100%;
  --col-F: 220, 60%;
}
.w3ui.DEFAULT.accordion .panel {
  padding: 0 4px 2px 4px;
}
.w3ui.DEFAULT.accordion .panel.active {
  padding-left: 0;
  padding-right: 0;
}
.w3ui.DEFAULT.accordion .panel.FIRST {
  padding-top: 2px;
}
.w3ui.DEFAULT.accordion .panel.FIRST.LAST {
  padding: 0;
}
.w3ui.DEFAULT.accordion .panel.LAST {
  padding-bottom: 2px;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title {
  padding: 6px 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  opacity: 1;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.hidden {
  opacity: 0;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.active.ORDER_A {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.active.ORDER_B {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.EVEN {
  box-shadow: inset 0 0 0 0px var(--col-f6);
  border-color: var(--col-e4);
  background-color: var(--col-f8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.EVEN.hovered {
  box-shadow: inset 0 0 8px 2px var(--col-f6);
  border-color: var(--col-e6);
  background-color: var(--col-f7);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.EVEN.hovered.active {
  box-shadow: inset 0 0 0 0px var(--col-f6);
  border-color: var(--col-e4);
  background-color: var(--col-f8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.EVEN.active {
  border-color: var(--col-e4);
  background-color: var(--col-f7);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.ODD {
  box-shadow: inset 0 0 0 0px var(--col-e6);
  border-color: var(--col-e4);
  background-color: var(--col-d8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.ODD.hovered {
  box-shadow: inset 0 0 8px 2px var(--col-e6);
  border-color: var(--col-e6);
  background-color: var(--col-d7);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.ODD.hovered.active {
  box-shadow: inset 0 0 0 0px var(--col-e6);
  border-color: var(--col-e4);
  background-color: var(--col-d8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title.ODD.active {
  border-color: var(--col-e4);
  background-color: var(--col-d7);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1 {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.active {
  font-size: calc(1.1 * var(--title-font-size));
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.hovered {
  font-size: calc(1.08 * var(--title-font-size));
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.hovered.active {
  font-size: var(--title-font-size);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.EVEN {
  color: var(--col-e2);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.EVEN.hovered {
  color: var(--col-c5);
  text-shadow: 0 0 2px var(--col-e5), 0 0 4px var(--col-e6), 0 0 6px var(--col-b7), 0 0 8px var(--col-b8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.EVEN.hovered.active {
  color: var(--col-c2);
  text-shadow: none;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.EVEN.active {
  color: var(--col-a5);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.ODD {
  color: var(--col-c2);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.ODD.hovered {
  color: var(--col-e5);
  text-shadow: 0 0 2px var(--col-c5), 0 0 4px var(--col-c6), 0 0 6px var(--col-b7), 0 0 8px var(--col-b8);
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.ODD.hovered.active {
  color: var(--col-c2);
  text-shadow: none;
}
.w3ui.DEFAULT.accordion .panel > .titleSizer > .title > .box.N1.ODD.active {
  color: var(--col-a5);
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content {
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.ORDER_A {
  border-top-style: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.ORDER_B {
  border-bottom-style: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.EVEN {
  border-color: var(--col-e4);
  background-color: var(--col-f7);
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.ODD {
  border-color: var(--col-e4);
  background-color: var(--col-d7);
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.hovered.EVEN {
  background-color: var(--col-f8);
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content.hovered.ODD {
  background-color: var(--col-d8);
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content > .box {
  padding: 4px 2px;
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content > .box.A {
  display: flex;
  align-items: center;
  justify-content: center;
}
.w3ui.DEFAULT.accordion .panel > .contentSizer > .content > .box.B {
  color: var(--col-e2);
}
/* vim: set et ts=4 sw=4 sts=4 fdm=marker fenc=utf-8 ff=unix: */
